DISPLAY=:0
SIMENV_IMAGE=simenv-a1-cu118-share:latest
SIMENV_CONTAINER=simenv-a1-share
UBUNTU_MIRROR=http://archive.ubuntu.com/ubuntu
UBUNTU_SECURITY_MIRROR=http://security.ubuntu.com/ubuntu
ROS_MIRROR=http://packages.ros.org/ros/ubuntu
HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=
http_proxy=
https_proxy=
no_proxy=
